* {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
}

body, html {
	width: 100%;
	height: 100%;
  }

  p {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	color: #000000;
	font-size: 12px;
  }

  a {
	text-transform: uppercase;
	color: #000000;
	font-size: 15px;
  }

  img {
	position: absolute;
	left:7px;
	top:5px;
  }

#container {
	position: relative;
	display: none;
	margin: 230px 50px 0 0;
	float: right;
	width: 457px;
	height: 272px;
	padding: 54px 17px 10px 144px;
	background: url("./id.png");
	background-repeat: no-repeat;
}

  #fname {
	bottom: -20px;
	font-weight: bolder;
	font-size: 15px;
	color: #004e99;
  }
  #lname {
	font-weight: bolder;
	font-size: 15px;
	bottom: 9px;
	color: #004e99;
  }
  #inline {
	position: absolute;
	top: 80px;
	left: 160;
  }
  #dob {
	font-weight: bolder;
	font-size: 15px;
	color: #004e99;
  }
  #sex {
	font-weight: bolder;
	font-size: 15px;
	color: #004e99;
  }
  #hgt {
	font-weight: bolder;
	font-size: 15px;
	color: #004e99;
  }
  #licenses {
	position: absolute;
	bottom: -110px;
	left: -152px;
	font-weight: bolder;
	font-size: 15px;
	color: #004e99;
  }
  