.hidden {
    display: none;
    overflow: hidden;
    background: #ccc;
}
hr{
    color: #018900;
}
.columns{
    padding-right: 45px;
}
.has-background-Maze{
    background: rgb(84,184,72, 0);
    /* background: linear-gradient(90deg, rgba(84,184,72,1) 0%, rgba(0,63,45,1) 100%); */

}
.logo{
    padding-left: 20px ;
}
.has-background-Top{
    background: #018900;
    padding-bottom: 5; 
    padding-top: 5;
    margin-bottom: 0rem !important; 
}
.navbar{
    border-bottom: 1px solid #ccc;
    padding-top: 10;
    padding-bottom: 10;
}
.active{
    background-color:#018900 !important;
}

.column.is-half, .column.is-half-tablet{
    width: 100%;
}
.fnData{
    padding-left: 0%;
}
.alertTop{
    display: none;
}